.movies__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .movie_info_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
  }
  
  .movie__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
  }
  
  .video__title {
    text-align: center;
  }
  
  .button__movie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
  }
  
  .container__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .recomended__title {
    font-size: 42px;
    color: #a0ccf2;
    text-align: center;
  }
  @media (max-width: 768px) {
    .movie_info_container {
      flex-wrap: wrap;
    }
  }