.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  cursor: pointer;
  margin-top:30px;
  padding:30px;
}

.movies img {
  border-radius: 12px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.11);
  transition: all 0.3s ease-in;
}
.movies img:hover {
  transform: scale(1.1);
}
.categories{
  border: 3px soli yellow;
}
.categories p{
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  
}