
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    background: var(--bg-color);
    height:auto;
    padding: 0 2px;
    position: sticky;
    top: 0;
    z-index:20;
    box-shadow: 0 4px 4px 0 #00000040;
}

.nav h1 {
    padding: 0 12px;
}

.nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 12px;
}

.nav__items li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav__items button{
    background-color: #ffff;
    color:var(--bg-color);
}